services:
  - type: web
    name: frostloader
    runtime: docker
    region: oregon
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile
    envVars:
      - key: PORT
        value: 4000
      - key: YOUTUBE_COOKIES_BASE64
        sync: false
